{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div class="box-cont">
    {% for post in all_posts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> <a href="/profile/{{post.user.id}}" style="text-decoration: none;">
                {{post.user.username}} </a></h5>
            <p>
                {% if post.user.username == user.username %}
                <a href="#">Edit</a>
                {% endif %}
            </p>
            <p class="card-text">{{post.text}}</p>
            <p class="card-text"><small class="text-muted">{{post.date}}</small></p>
            <p> 
                <img src="{% static 'images/like.svg' %}" height="20px" width="20px"> <small>{{post.likes}}</small>
                {% if post.user.username != user.username and user.is_authenticated %}
                    {%if post.verify_like == False %}
                    <button data-page="{{post.id}}" id="like-btn" > Like </button>
                    {%else%}
                    <button data-page="{{post.id}}" id="unlike-btn" > Unlike </button>
                    {% endif %}
                {% endif %}
            </p>
        </div>

    </div>
    <hr>
    {% endfor %}
</div>






{% endblock %}