{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}

<!-- <div class="overlay" id="overlay">
    <div class="popup">
        <a href="" class="btn-close" id="btn-close">X</a>
        <p>The mail was archived</p>
        <button class="btn btn-sm btn-outline-primary" id="btn-undo">Undo</button>
    </div>
</div> -->

<div class="box-cont">
    <form action="newpost" method="POST">
        {% csrf_token %}
        <input type="text" value="{{user.id}}" name="id" hidden>
        <textarea name="text" id="post-text"> </textarea>

        <button type="submit" class="btn btn-primary btn-sm">Post</button>

    </form>
</div>
{%endif%}
<div>
    <!-- Aqui esta el pnumero de paginas {{posts.paginator.num_pages}}

    aqui esta el numero de paginas  {{posts.has_previous}} -->

</div>
  
<div class=" row align-items-center justify-content-center ">
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
            <li class="page-item">
                {%if posts.has_previous%}
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {%endif%}
                
            </li>

            {% for num in posts.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{num}}">
               <!-- {%if num > posts.number|add:'-3' and num < posts.number|add:'3'%}

               {%endif%} -->

                {{num}}
            
            </a></li>
            {% endfor %}


            <li class="page-item">
                {%if posts.has_next%}
                <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {%endif%}
            </li>
        </ul>
    </nav>
</div>
<div class="box-cont">


    {% for post in posts %}


    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> <a href="/profile/{{post.user.id}}" style="text-decoration: none;">
                    {{post.user.username}} </a> </h5>
            <p>
                {% if post.user.username == user.username %}
                <button data-page="{{post.id}}" class="btn btn-primary btn-sm" id="btn-edit-post">Edit</button>
                {% endif %}
            </p>
            <p class="card-text">{{post.text}}</p>
            <p class="card-text"><small class="text-muted">{{post.date}}</small></p>
            <p> 
                <img src="{% static 'images/like.svg' %}" height="20px" width="20px"> 
                <small id="num-likes-id-{{post.id}}"> {{post.likes}}</small> 
                {% if post.user.username != user.username and user.is_authenticated %}
                    {%if post.verify_like == False %}
                    <button data-page="{{post.id}}" id="like-btn" > Like </button>
                    {%else%}
                    <button data-page="{{post.id}}" id="unlike-btn" > Unlike </button>
                    {% endif %}
                {% endif %}
            </p>
        </div>

    </div>
    <hr>

    <!-- <div class="card">
        <div class="card-header">
            <h4>
                <strong>
                    {{post.user.username}}
                </strong>
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                {% if post.user.username == user.username %}
                <a href="#">Edit</a>
                {% endif %}
                <p>{{post.text}}</p>
                <footer class="text-muted">{{post.date}} </footer>
                <p> <img src="{% static 'images/like.svg' %}" height="20px" width="20px"> <small>{{post.likes}}</small>
                </p>
            </blockquote>
        </div>
    </div>
    <hr> -->
    {% endfor %}
</div>






{% endblock %}